*.pyc
var/*
etc/build-failures
etc/build-freeze
etc/config
etc/enabled-packages
etc/local-cert-deploy
etc/modsec
etc/build-config/user
etc/logrotate.d
etc/raw-modsec-rulesets
.venv
sitewrangler_venv.py